{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set userCurency = app.user.currency %}
    {% set userCurencySign = userCurency.sign %}
    <p>
        Цена: {{ userCurency.convert(object.getPrice) }}&nbsp;<b>{{ userCurencySign }}</b>
    </p>
    <p>
        Цена по Китаю: {{ userCurency.convert(object.getChinaPrice) }}&nbsp;<b>{{ userCurencySign }}</b>
    </p>
    {% set deliveryPrice = object.delivery.getPriceByWeight(object.weight) %}
    {% if null != deliveryPrice %}
        <p>
            Цена доставки: {{ userCurency.convert(deliveryPrice) }}&nbsp;<b>{{ userCurencySign }}</b>
        </p>
    {% endif %}
    <hr/>
    {% set fullPrice = object.getPrice + object.getChinaPrice + deliveryPrice %}
    <p class="order-price-total" data-total="{{ userCurency.convert(fullPrice) }}">
        Общая сумма: {{ userCurency.convert(fullPrice) }}&nbsp;<b>{{ userCurencySign }}</b>
    </p>
{% endblock %}
