{% extends "InsiderUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#fos_user_registration_form_plainPassword_first").strength({
                strengthClass: 'form-control'
            });
        })
    </script>
{% endblock javascripts %}

{% block fos_user_content %}
    <div id="container">
        <div class="article">
            <div class="block-content-wrapper">
                <div class="block-content text-center">
                    <div class="login">
                        {% form_theme form 'InsiderUserBundle:Security:fields.html.twig' %}
                        <form
                            action="{{ path('fos_user_registration_register') }}"
                            {{ form_enctype(form) }}
                            method="POST"
                            class="fos_user_registration_register"
                        >
                            <div class="form-group">
                                {{ form_errors(form.email) }}
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, {attr: {class: 'form-control', placeholder: 'Email'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.username) }}
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username, {attr: {class: 'form-control', placeholder: 'Имя пользователя'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_label(form.plainPassword.first) }}
                                {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control', placeholder: 'Пароль'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.plainPassword.second) }}
                                {{ form_label(form.plainPassword.second) }}
                                {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control', placeholder: 'Повторите пароль'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.promo) }}
                                {{ form_label(form.promo) }}
                                {{ form_widget(form.promo, {attr: {class: 'form-control', placeholder: 'Промо код'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.agree) }}
                                {{ form_widget(form.agree, {attr: {class: 'form-control'}}) }}
                                <a href="{{ path('insider_user_agreement') }}" target="_blank">Пользовательское соглашение</a>
                            </div>
                            <div class="form-group">
                                <input
                                    type="submit"
                                    id="_submit"
                                    name="_submit"
                                    class="form-control btn btn-primary"
                                    value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
                                />
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}