{% extends "InsiderUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
{% endblock javascripts %}

{% block fos_user_content %}
    <div id="container">
        <div class="article">
            <div class="block-content-wrapper">
                <div class="block-content text-center">
                    <div class="login">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                            <div>
                                {% if invalid_username is defined %}
                                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                                {% endif %}
                                <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="text" id="username" name="username" required="required" />
                            </div>
                            <div>
                                <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
